In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.1.4

### Series

In [3]:
#creating pandas series from python list
data = [1, 2, 3, 4]

In [4]:
data

[1, 2, 3, 4]

In [5]:
type(data)

list

In [6]:
x = pd.Series(data)

In [7]:
x

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
type(x)

pandas.core.series.Series

In [11]:
#create pandas series with index
x = pd.Series(data, index = ['Mon', 'Tue', 'Wed', 'Thur'])

In [12]:
x

Mon     1
Tue     2
Wed     3
Thur    4
dtype: int64

In [15]:
#create pandas series from a python dictionary
data = {
    'name' : 'Isaac',
    'age' : 20,
    'email' : 'iawenide@gmail.com'
}

In [16]:
data

{'name': 'Isaac', 'age': 20, 'email': 'iawenide@gmail.com'}

In [17]:
y = pd.Series(data)

In [18]:
y

name                  Isaac
age                      20
email    iawenide@gmail.com
dtype: object

### DataFrame

In [19]:
#Create pandas DataFrame
data = [1, 2, 3, 4]

In [20]:
data

[1, 2, 3, 4]

In [21]:
z = pd.DataFrame(data)

In [22]:
z

   0
0  1
1  2
2  3
3  4

In [23]:
data = [[10,20], [30,40], [50,60]]

In [24]:
z = pd.DataFrame(data)

In [25]:
z

    0   1
0  10  20
1  30  40
2  50  60

In [28]:
#changing indexes and columns of pandas DataFrame 
z = pd.DataFrame(data, columns = ['Mon', 'Tue'], index = ['week1', 'week2', 'week3'])

In [29]:
z

       Mon  Tue
week1   10   20
week2   30   40
week3   50   60

In [30]:
#passing data using loc
z = pd.DataFrame(data, columns = ['Mon', 'Tue'])
z.loc[3] = [70, 80]

In [31]:
z

   Mon  Tue
0   10   20
1   30   40
2   50   60
3   70   80

In [32]:
#Create pandas DataFrame from a python dict
data = {
    'Monday' : [10, 20, 30],
    'Tuesday' : [100, 200, 300],
    'Wednesday' : [90, 80, 70]
}

In [33]:
data

{'Monday': [10, 20, 30], 'Tuesday': [100, 200, 300], 'Wednesday': [90, 80, 70]}

In [34]:
y = pd.DataFrame(data)

In [35]:
y

   Monday  Tuesday  Wednesday
0      10      100         90
1      20      200         80
2      30      300         70

In [36]:
#Using loc attribute to return one or more specified row(s)
y.loc[0]

Monday        10
Tuesday      100
Wednesday     90
Name: 0, dtype: int64